@page "/newsletter"

@attribute [StreamRendering]

<PageTitle>Newsletter</PageTitle>

<h3>Newsletter</h3>

@if (subscribers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var subscriber in subscribers)
    {
        <a href="/newsletter/@subscriber.Id">
            <div class="mb-3">@subscriber.Email</div>
        </a>
    }
}

@code {
    private Subscriber[]? subscribers;

    protected override async Task OnInitializedAsync()
    {
        subscribers = await Http.GetFromJsonAsync<Subscriber[]>("https://newsletterprovider-nikesjo.azurewebsites.net/api/GetSubscribers?code=jUq48ijpjjo88vBzuO1kcswUQtGs3eYdymCSOtO37rmnAzFuNi0ajw%3D%3D");
    }
}