@page "/newsletter"

@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Newsletter</PageTitle>

<section class="newsletters">
    <div class="container">
        <h1>Newsletter</h1>

        @if (subscribers == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="newsletter-cards">
                @foreach (var subscriber in subscribers)
                {
                    <div class="newsletter-card">
                        <div class="newsletter-email" onclick="location.href='/newsletter/@subscriber.Id'">
                            @subscriber.Email
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>


@code {
    private Subscriber[]? subscribers;

    protected override async Task OnInitializedAsync()
    {
        subscribers = await Http.GetFromJsonAsync<Subscriber[]>("https://newsletterprovider-nikesjo.azurewebsites.net/api/GetSubscribers?code=jUq48ijpjjo88vBzuO1kcswUQtGs3eYdymCSOtO37rmnAzFuNi0ajw%3D%3D");
    }
}